<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Vote no Livro</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<script type="text/javascript">
var mostra = function(a){
	alert(a);
} 
</script>
	<h1>Qual é o melhor livro?</h1>
	<form action="/vote-no-livro" method="POST">
		<div th:each="nominee : ${nominees}" onclick="mostra(this)">
			<p th:text="${nominee.title}"></p>
			<input type="hidden" value="session_id" />
			<input type="submit" name="book_id" th:value="${nominee.id}" />
		</div>
	</form>
</body>
</html>